.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(221, 135, 111) 26% , rgb(125, 160, 16) 32% , rgb(31, 199, 19) 48% , rgb(82, 58, 119) 61% , rgb(193, 207, 246) 64% , rgb(108, 203, 196) 66% , rgb(114, 151, 237) 79% , rgb(0, 0, 0) 80% , rgb(60, 168, 15) 86% , rgb(84, 114, 47) 89% , rgb(79, 67, 171) 92% , rgb(32, 155, 135) 97%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(221, 135, 111) 26% , rgb(125, 160, 16) 32% , rgb(31, 199, 19) 48% , rgb(82, 58, 119) 61% , rgb(193, 207, 246) 64% , rgb(108, 203, 196) 66% , rgb(114, 151, 237) 79% , rgb(0, 0, 0) 80% , rgb(60, 168, 15) 86% , rgb(84, 114, 47) 89% , rgb(79, 67, 171) 92% , rgb(32, 155, 135) 97%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(221, 135, 111) 26% , rgb(125, 160, 16) 32% , rgb(31, 199, 19) 48% , rgb(82, 58, 119) 61% , rgb(193, 207, 246) 64% , rgb(108, 203, 196) 66% , rgb(114, 151, 237) 79% , rgb(0, 0, 0) 80% , rgb(60, 168, 15) 86% , rgb(84, 114, 47) 89% , rgb(79, 67, 171) 92% , rgb(32, 155, 135) 97%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(221, 135, 111) 26% , rgb(125, 160, 16) 32% , rgb(31, 199, 19) 48% , rgb(82, 58, 119) 61% , rgb(193, 207, 246) 64% , rgb(108, 203, 196) 66% , rgb(114, 151, 237) 79% , rgb(0, 0, 0) 80% , rgb(60, 168, 15) 86% , rgb(84, 114, 47) 89% , rgb(79, 67, 171) 92% , rgb(32, 155, 135) 97%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(221, 135, 111) 26% , rgb(125, 160, 16) 32% , rgb(31, 199, 19) 48% , rgb(82, 58, 119) 61% , rgb(193, 207, 246) 64% , rgb(108, 203, 196) 66% , rgb(114, 151, 237) 79% , rgb(0, 0, 0) 80% , rgb(60, 168, 15) 86% , rgb(84, 114, 47) 89% , rgb(79, 67, 171) 92% , rgb(32, 155, 135) 97%);






}